:root {
  --card_light: #191924;
  --primary: #854ce6;
  --text_primary: white;
  --text_secondary: rgba(255, 255, 255, 0.637);
}
.skillcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  color: var(--text_primary);
}
.heading p {
  width: 85%;
  margin-top: 1rem;
  text-align: center;
  color: var(--text_secondary);
}

.skillCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 11% !important;
}
.skillIconDiv {
  padding: 0px 0px;
}
.skillicon {
  width: 45%;
}
.skillicon:hover {
  filter: drop-shadow(0px 0px 12px var(--primary));
}
.SkillTag {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--text_primary);
}

.skillrow2 {
  width: 90%;
}

@media (max-width: 1200px) {
  .skillicon {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .skillicon {
    width: 55%;
  }
  .heading p {
    width: 100%;
  }
  .SkillTag {
    font-size: 0.9rem;
  }
}

@media (max-width: 650px) {
  .skillicon {
    width: 70%;
  }
  .SkillTag {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .skillicon {
    width: 100%;
  }
  .skillIconDiv {
    padding: 0px 7px;
  }
  .SkillTag {
    font-size: 0.65rem;
  }
}
@media (max-width: 400px) {
  .SkillTag {
    font-size: 0.6rem;
  }
  .skillIconDiv {
    padding: 0px 7px !important;
  }
}
